@page
@using BattleShip
@model WebApplication.Pages.Game

@{
    ViewData["Title"] = "New Game";
    var current = Model.Engine.GetCurrent();
}

<div class="text-center">
    <div class="container text-center ml-4">
        <h4><b>New Game</b></h4>
        <p>Player <strong>@(Model.Engine?.GetCurrent().Char) turn</strong></p>
        <p>Current hits <strong>@(current.Hits)</strong></p>
        <p>State: <strong>@(current.SetUp ? "Boards Setup" : "Active game")</strong></p>
        <h5 style="color: red"><strong>@Model.Message</strong></h5>
    </div>

    <div class="container mt-3" style="margin-left: 11%;">
        <div class="row">
            <div class="col-4" style="left: 10%">
                <table class="table-bordered" style="width: 65%">
                    <thead>
                    <th colspan="10">@(current.SetUp ? "Your" : "Opponent")</th>
                    </thead>
                    <tbody>
                    <form method="post" id="mainForm">
                        @{
                            @for (var c = 0; c < Model.Engine.ColLength; c++)
                            {
                                <tr>
                                    @for (var r = 0; r < Model.Engine.RowLength; r++)
                                    {
                                        var box = current.Field[c,r];
                                        var disabled = box is 'm' or 'o' or 'x' ? "disabled" : "";
                                        var bgColor = box is 'm' ? "red" : "green";
                                        var style = disabled != "" ? $"background-color: {@bgColor}" : "";
                                        <td style="@style">
                                            <input name="AreChecked" type="checkbox" @disabled value="@r,@c|"/>
                                        </td>
                                    } 
                                </tr>
                            }
                        }
                    </form>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <button type="submit" form="mainForm" class="btn btn-outline-success">Submit</button>
                <form method="post" id="saveGame" asp-page-handler="Save" class="mt-3">
                    <button type="submit" form="saveGame" class="btn btn-outline-success mt-2">Save game</button>
                    <br/>
                    <label form="saveGame"><small>Save to DB</small></label>
                    <input form="saveGame" type="checkbox" name="ToDb" value="true"/>
                </form>
            </div>
            <div class="col-4 ml-3">
                <table class="table-bordered" style="width: 65%">
                    <thead>
                    <th colspan="10">@(!current.SetUp ? "Your" : "Opponent")</th>
                    </thead>
                    <tbody>
                    <form method="post">
                        @{
                            @for (var c = 0; c < Model.Engine.ColLength; c++)
                            {
                                <tr>
                                    @for (var r = 0; r < Model.Engine.RowLength; r++)
                                    {
                                        var arr = current.MainField()[c,r];
                                        var font = arr == default ? "white" : "";
                                        if (current.Field[c, r] != default && current.Field[c, r] == current.Char)
                                        {
                                            <td >
                                                <span>
                                                    @current.Field[c,r]
                                                </span>
                                            </td> 
                                        }
                                        else
                                        {
                                            <td style="color: @font">
                                                <span>
                                                    @(arr == current.OpChar ? "" : arr)
                                                </span>
                                            </td> 
                                        }
                                        
                                    }
                                </tr>
                            }
                        }
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
        <form method="post" asp-page-handler="SaveSettings" id="settings">
            <div class="form-row align-items-center mt-4" style="margin-left: 15%">
                <div class="col-auto">
                    <label for="height">Height</label>
                    <input asp-for="Height" id="height" type="text" class="form-control mb-2" min="10" value="10">
                </div>
                <div class="col-auto">
                    <label for="width">Width</label>
                    <input asp-for="Width" id="width" type="text" class="form-control mb-2" min="10" value="10">
                </div>
                <div class="col-auto">
                    @{ var changed = !current.SetUp ? "disabled" : "";}
                    <button type="submit" form="settings" class="btn btn-outline-primary mt-4" @(changed)>Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>